{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="./styles.css"></head>
{% endblock %}

{% block javascripts %}
    <script src="./runtime.js" type="module"></script>
    <script src="./polyfills.js" type="module"></script>
    <script src="./vendor.js" type="module"></script>
    <script src="./main.js" type="module"></script></body>
{% endblock %}

{% block body %}
    <ms-root></ms-root>
{% endblock %}
