@import '../../styles/abstract/variables';
@import '../../styles/abstract/mixins';

.tablehead-image-wrapper {
  text-align: center;

  img {
    padding-bottom: 15px;
  }
}

.toggle-content-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  color: $tertiary-color;
  padding-top: 15px;

  img {
    width: 50px;
    height: 50px;
  }

  @media (max-width: 768px) {
    font-size: 1rem;
  }
}

.custom-table-button-grid {
  @include create-text-box(70%, 0.9, 2rem, 3rem);

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  grid-template-areas:
    'table table'
    'button button';

  table.transaction-table {
    grid-area: table;
    width: 90%;
    margin: 0 auto;
  }

  div {
    grid-area: button;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media (max-width: 1200px) {
    @include create-text-box(80%, 0.9, 2rem, 3rem);
  }

  @media (max-width: 1000px) {
    @include create-text-box(90%, 0.9, 2rem, 3rem);
  }

  @media (max-width: 768px) {
    min-width: 380px;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

.transaction-table {
  border-collapse: collapse;
  width: 100%;

  thead {
    th {
      border-bottom: 1px solid $primary-color;

      img {
        width: 50px;
        vertical-align: middle;
      }
    }
  }

  tbody {
    tr {
      border-bottom: 1px solid $primary-color;
    }

    td {
      padding: 10px;
      vertical-align: top;
      white-space: nowrap;
    }
  }
}

.transaction {
  &__amount {
    font-weight: bold;
    margin-right: 5px;
    color: $dark-green;
  }

  .transaction__title {
    font-size: 1.2rem;
  }

  &.transaction--expense {
    .transaction__amount {
      color: $dark-red;
    }
  }

  &.transaction--inactive {
    .transaction__amount,
    .transaction__title {
      color: $grey;
    }
  }
}

@media (max-width: 767px) {
  .transaction-table {
    tbody {
      td {
        .transaction-title {
          font-size: 1rem;
        }

        .income-amount,
        .expense-amount {
          font-size: 1rem;
        }
      }
    }
  }
}

@media (max-width: 660px) {
  .transaction-table {
    tbody {
      td {
        text-align: center;

        .income-amount + .transaction-title {
          display: none;
        }

        .expense-amount + .transaction-title {
          display: none;
        }
      }
    }
  }
}
