/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

// Variables
$layout_M_size_min: 600px;
$layout_M_size_max: 899px;
$primary-color: rgba(9, 135, 82, 1);
$font-family: Arial, sans-serif;

* {
  font-family: $font-family;
}

html,
body {
  height: 100%;
  margin: 0;
  color: $primary-color;
  background: linear-gradient(
      rgba(219, 230, 219, 0.5),
      rgba(223, 235, 223, 0.5)
    ),
    url('./assets/images/background.jpg') center/cover no-repeat;
}

@media screen and (min-width: $layout_M_size_min) and (max-width: $layout_M_size_max) {
  .container {
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 3rem 1rem 0;
    color: $primary-color;
    width: 100%;
  }
}
