/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

// Variables
$primary-color: rgba(99, 100, 91, 1);
$secondary-color: rgba(187, 215, 110, 1);
$tertiary-color: rgba(212, 225, 124, 1);
$background-color: rgba(219, 230, 219, 0.8);
$font-family: Arial, sans-serif;

// layout

* {
  font-family: $font-family;
}

html,
body {
  min-height: 100vh;
  margin: 0;
  color: $primary-color;
  background: linear-gradient(
      rgba(219, 230, 219, 0.5),
      rgba(223, 235, 223, 0.5)
    ),
    url('./assets/images/background.jpg') center/cover no-repeat;

  display: flex;
  flex-direction: column;
}

@mixin make-flexbox() {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@mixin make-container($padding-x, $padding-y) {
  width: 100%;
  padding: {
    top: $padding-y;
    right: $padding-x;
    bottom: $padding-y;
    left: $padding-x;
  }
  margin: 0 auto;
  min-height: 100vh;
}

@mixin create-text-box($width, $opacity, $padding-x, $padding-y) {
  background: $background-color;
  width: $width;
  max-width: 800px;
  opacity: $opacity;
  padding: {
    top: $padding-y;
    right: $padding-x;
    bottom: $padding-y;
    left: $padding-x;
  }
}

.custom-container {
  @include make-container(5rem, 10rem);
  @include make-flexbox();
}

.custom-text-box {
  @include create-text-box(70%, 0.8, 3rem, 5rem);
  @include make-flexbox();
  @media (max-width: 768px) {
    width: 400px;
  }
}
