@import '../../styles/abstract';

.home-title, .home-text {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.login-button,
.login-button:hover,
.login-button:visited,
.login-button:active {
  border: none;
  border-radius: 10%;
  color: $primary-color;
  background: $secondary-color;
  padding: 1rem 1.5rem;
  text-decoration: none;
}
