@import './../../../styles.scss';

.wrapper {
  background: rgba(219, 230, 219, 0.8);
  width: 80%;
}

button {
  border: none;
  border-radius: 10%;
  color: $primary-color;
  background: linear-gradient($secondary-color, $tertiary-color);
}
