<nav class="navbar navbar-light bg-light">
    <div
        class="container-fluid d-flex justify-content-between align-items-center"
    >
        <div *ngIf="!isOnAccountSelectionPage()">
            <button
                class="btn btn-link"
                (click)="goBack()"
                [title]="'PAGE_HEADER.BUTTONS.GO_BACK' | translate"
            >
                <img
                    src="assets/images/go-back-arrow_small.png"
                    alt="Go back arrow"
                    class="image-50x50"
                />
            </button>
        </div>

        <div class="d-flex justify-content-center">
            <div *ngIf="!isOnAccountSelectionPage()">
                <div class="d-flex align-items-center">
                    <button
                        *ngIf="!isLoading"
                        class="btn btn-link"
                        (click)="goToAccountSelection()"
                        [title]="
                            'PAGE_HEADER.BUTTONS.GO_TO_ACCOUNT_SELECTION'
                                | translate
                        "
                    >
                        <img
                            [src]="
                                accountService.getAvatarForAccount(
                                    account$ | async
                                )
                            "
                            alt="Account avatar"
                            class="image-50x50"
                        />
                    </button>

                    <div class="navbar-text page-title">
                        {{ pageTitle | translate }}
                    </div>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-end align-items-center">
            <money-sprouts-multilanguage></money-sprouts-multilanguage>
            <a
                href="/logout"
                (click)="onLogout($event)"
                class="btn btn-link"
                [title]="'PAGE_HEADER.BUTTONS.LOGOUT' | translate"
            >
                <img
                    src="assets/images/logout-round-grey_small.png"
                    alt="logout button"
                    class="image-50x50"
                />
            </a>
        </div>
    </div>
</nav>
