<money-sprouts-page-header></money-sprouts-page-header>
<div id="account-dashboard" class="custom-container no-transparency">
    @if (name) {
        <div class="button-container">
            @for (section of sections; track section.name) {
                <div>
                    <button class="image-text-button" (click)="goToSection(section.name)">
                        <img [src]="section.image" />
                        <label>{{ section.name | translate }}</label>
                    </button>
                </div>
            }
        </div>
    }
</div>
