@use '../../styles/abstract/variables' as *;
@use "sass:color";

.balance-display {
  font-size: 2rem;
  color: $primary-color;
  margin-bottom: 20px;
}


.tabs {
  display: flex;
  width: 100%;
}

.tab {
  flex: 1;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  color: $grey;
  border-bottom: 1px solid $tertiary-color;
}

.tab.active {
  color: color.adjust($tertiary-color, $lightness: -5%);
  border: 2px solid $tertiary-color;
  border-bottom: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.tab-icon {
  width: 50px;
  height: 50px;
  margin-right: 15px;
}

.tab-content {
  width: 100%;
  padding: 40px 20px;
  border: 2px solid $tertiary-color;
  border-top: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.tab-title {
  font-size: 1.2rem;
  white-space: nowrap;
}

@media (max-width: 900px) {
  .tab-title {
    font-size: 1rem;
  }
}

@media (max-width: 800px) {
  .tab-title {
    display: none;
  }
}
