<money-sprouts-page-header></money-sprouts-page-header>
<div id="plan" class="custom-container">
    @if (account$ | async; as account) {
    <div class="custom-text-box">
        <div class="balance-display">
            {{ balance / 100 | currency : 'EUR' : 'symbol' : '1.2' }}
            @if (calculatedAmount) {
            <span>
                →
                <span
                    [ngClass]="
                        calculatedAmount > 0 ? 'text-success' : 'text-danger'
                    "
                >
                    {{
                        calculatedAmount / 100
                            | currency : 'EUR' : 'symbol' : '1.2'
                    }}
                </span>
            </span>
            }
        </div>
        <div class="tabs">
            <div
                (click)="switchTab('spend')"
                (keydown.enter)="switchTab('spend')"
                [class.active]="activeTab === 'spend'"
                class="tab"
                tabindex="0"
            >
                <img
                    [ngSrc]="'/assets/images/shopping-card_small.png'"
                    alt="spend-icon"
                    class="tab-icon"
                />
                <span class="tab-title">{{
                    'PLAN.TAB_SPENT.TITLE' | translate
                }}</span>
            </div>
            <div
                (click)="switchTab('earn')"
                (keydown.enter)="switchTab('earn')"
                [class.active]="activeTab === 'earn'"
                class="tab"
                tabindex="0"
            >
                <img
                    [ngSrc]="'/assets/images/money.png'"
                    alt="earn-icon"
                    class="tab-icon"
                />
                <span class="tab-title">{{
                    'PLAN.TAB_EARN.TITLE' | translate
                }}</span>
            </div>
        </div>
        <!-- Display content based on the active tab -->
        <div class="tab-content">
            @if (activeTab === 'spend') {
            <div>
                <money-sprouts-plan-expenses
                    (calculateAmount)="onCalculateDeductionOfAmount($event)"
                    (applyChanges)="onApplyChanges($event.title, $event.amount)"
                    (resetBalance)="onResetBalance()"
                ></money-sprouts-plan-expenses>
            </div>
            } @if (activeTab === 'earn') {
            <div>
                <money-sprouts-plan-earnings
                    (calculateAmount)="onCalculateAdditionOfAmount($event)"
                    (applyChanges)="onApplyChanges($event.title, $event.amount)"
                    (resetBalance)="onResetBalance()"
                ></money-sprouts-plan-earnings>
            </div>
            }
        </div>
    </div>
    }
</div>
