<form class="form-container" (ngSubmit)="onSubmit()" #spendingForm="ngForm">
    <div class="form-group">
        <label class="name-label" for="title">Product Name:</label>
        <input
            class="name-input"
            type="text"
            id="title"
            name="title"
            ngModel
            required
            pattern="[A-Za-z\s]*"
            title="Only letters and spaces are allowed"
            #title="ngModel"
            (blur)="formatNameInput($event)"
        />
    </div>

    <div class="form-group">
        <label class="amount-label" for="amount">Amount (€):</label>
        <input
            class="amount-input"
            type="text"
            id="amount"
            name="amount"
            ngModel
            required
            pattern="^\d{1,3}(?:\.\d{3})*(?:,\d{0,2})?$"
            #amount="ngModel"
            (blur)="formatAmountInput($event)"
            (focus)="clearInput($event)"
        />
    </div>

    <div class="button-group--plan-page">
        <button class="button" type="submit" (click)="calculate(spendingForm)">
            Calculate
        </button>
        <button class="button" type="submit" (click)="apply(spendingForm)">
            Apply
        </button>
    </div>
</form>
<p *ngIf="title.invalid && title.dirty" class="error">
    Only letters and spaces are allowed.
</p>
<p *ngIf="amount.invalid && amount.dirty" class="error">
    Only numbers are allowed.
</p>
<p *ngIf="message" class="message">
    <span class="message-icon" *ngIf="icon">{{ icon }}</span>
    {{ message }}
</p>
