<div class="form-group">
  @if (currentLang === 'de') {
    <img
      src="assets/images/usa-flag.png"
      alt="usa-flag"
      [title]="'PAGE_HEADER.BUTTONS.MULTILANGUAGE' | translate"
      class="flag-icon"
      (click)="switchLang('en')"
      />
  }
  @if (currentLang === 'en') {
    <img
      src="assets/images/germany-flag.png"
      alt="germany-flag"
      [title]="'PAGE_HEADER.BUTTONS.MULTILANGUAGE' | translate"
      class="flag-icon"
      (click)="switchLang('de')"
      />
  }
</div>
