@import '../../../../styles/abstract/variables';

.form-group {
  display: flex;
  flex-direction: row;
  justify-content: left;
  padding: 10px 0;
}

.name-label,
.name-input,
.amount-label,
.amount-input {
  flex: 1;
  align-self: center;
}

.name-input,
.amount-input {
  height: 50px;
  padding: 10px;
  color: $primary-color;
  border: none;
  border-radius: 10px;
}

.message {
  margin-top: 20px;
}

.message-icon {
  font-size: 24px;
  color: $tertiary-color;
  padding-right: 8px;
}

.ng-invalid.ng-dirty:not(form) {
  border: 1px solid $dark-red;
}

.error {
  margin-top: 20px;
  color: $dark-red;
}

.error::before {
  content: '⚠';
}
