$primary-color: rgba(99, 100, 91, 1);
$secondary-color: rgba(195, 216, 126, 1);
$tertiary-color: rgba(18, 184, 134, 1);
$background-color: rgba(219, 230, 219, 0.8);
$highlight-light: rgba(230, 235, 193, 1);
$white: rgba(239, 243, 237, 1);
$grey: rgb(152, 152, 145);
$dark-green: rgba(107, 131, 26, 1);
$dark-red: rgba(180, 51, 10, 1);
$font-family: Arial, sans-serif;
