@use "./variables" as *;

@mixin make-flexbox() {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin make-grid() {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

@mixin ms-container($padding-x, $padding-y) {
  width: 100%;
  padding: {
    top: $padding-y;
    right: $padding-x;
    bottom: $padding-y;
    left: $padding-x;
  }
  margin: 0 auto;
  min-height: fit-content;
  font-size: 1.2rem;
}

@mixin create-text-box($width, $opacity, $padding-x, $padding-y) {
  background: $background-color;
  width: $width;
  max-width: 800px;
  opacity: $opacity;
  border-radius: 2%;
  padding: {
    top: $padding-y;
    right: $padding-x;
    bottom: $padding-y;
    left: $padding-x;
  }
}
