<money-sprouts-page-header></money-sprouts-page-header>
<div id="balance-overview" class="custom-container no-transparency">
    <div class="custom-text-box" *ngIf="user$ | async as user">
        <div class="balance-display">
            {{ user.balance / 100 | currency : 'EUR' : 'symbol' : '1.2' }}
        </div>

        <div class="funny-image-wrapper">
            <figure>
                <img [src]="getFunnyImage(user.balance)" alt="funny image" />
                <figcaption class="image-caption">
                    Illustration by Icons 8 from
                    <a href="https://icons8.com/illustrations">Ouch!</a>
                </figcaption>
            </figure>
        </div>
        <div class="payday-info" *ngIf="combinedDataOverview$ | async as data">
            <div>
                Next pocket money:
                <span class="bold-text">{{ data.formatedNextPayday }}</span>
            </div>
            <div>
                Days until payday:
                <span class="bold-text">{{ data.daysUntilNextPayday }}</span>
            </div>
        </div>
    </div>
</div>
