@import "../../styles/abstract/variables";

.message {
   margin-top: 20px;
 }

 .message-icon {
   font-size: 24px;
   color: $tertiary-color;
   padding-right: 8px;
 }

 .error {
   margin-top: 20px;
   color: $dark-red;
 }

 .error-icon {
   font-size: 24px;
   color: $dark-red;
   padding-right: 8px;
 }
